* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --bg-body: #b9fde7;
  --bg-main: #fff;
  --bg-inputs: #DCE2E9;
  --bg-button: #02799D;
  --bg-buttonHover: #016381;
  --bg-errorMsg: #F03E3E;
  --txtcolor-titleAndResult: #0C3440;
  --txtcolor-labels: #00453A;
  --txtcolor-buttonAndErrorMsg: #fff;
  --txtcolor-input: #212529;
  --txtcolor-placeholder: rgba(73, 80, 87, 0.5);
  --outlinecolor-input: #02799D;
  --bordercolor-inputs: rgba(73, 80, 87, 0.3);

  /* Font family */
  --ff-general: 'Roboto', sans-serif;
  
  /* Fon size */
  font-size: 62.5%;
  --fs-title: 3.2rem;
  --fs-result: 1.6rem;
  --fs-labels: 1.4rem;
  --fs-inputsAndButtonAndErrorMsg: 1.6rem;
}

body {
  background: var(--bg-body);
  font-family: var(--ff-general);
}

.container {
  display: grid;
  height: 100vh;
  place-content: center;
  padding: 1.5rem;
}

.card {
  margin: 0 auto;
  background: var(--bg-main);
  padding: 4.8rem 5.0rem 5.0rem;
  width: min(42.8rem, 90%);
  height: fit-content;
  margin-inline: auto;
  border-radius: .6rem;
  box-shadow: .0rem .2rem .4rem rgba(0, 0, 0, 0.1);
}


.card #title {
  color: var(--txtcolor-titleAndResult);
  font-size: var(--fs-title);
  line-height: 4.0rem;
  margin-bottom: 3.2rem;
}

label, input {
  font-weight: 400;
}

input, button {
  padding: 1.6rem;
  height: fit-content;
  border-radius: .4rem;
  font-size: var( --fs-inputsAndButtonAndErrorMsg);
  font-family: var(--ff-general);
  line-height: 2.0rem;
}

title, button {
  font-weight: 700;
}

.input-wrapper + .input-wrapper  {
  margin-top: 1.6rem;
}

.input-wrapper label {
  color: var(--txtcolor-labels);
  font-size: var(--fs-labels);
  line-height: 1.8rem;
}

.input-wrapper input {
  background: var(--bg-inputs);
  color: var(--txtcolor-input);
  width: 100%;
  text-align: start;
  border: .1rem solid var(--bordercolor-inputs);
  margin-top: .8rem
}

.input-wrapper input::placeholder {
  color: var(--txtcolor-placeholder);
}

.input-wrapper input:focus {
  border: none;
  outline: .1rem solid var(--outlinecolor-input);
}


form button {
  background: var(--bg-button);
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  color: var(--txtcolor-buttonAndErrorMsg);
  font-weight: 700;
  margin-top: 3.2rem;
  cursor: pointer;
  transition: all .3s;
}

form button:hover {
  background-color: var(--bg-buttonHover);
}

/* Modal */

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  place-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal {
  text-align: center;
  font-size: var(--fs-result);
  position: relative;
  
}

.result .close {
  border: 0;
  background: none;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  transition: all .2s;
}

.result .close:hover {
  scale: 1.1;
}

/* Alert Error */

.alertError {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: .8rem;
  background: var(--bg-errorMsg);
  color: var(--txtcolor-buttonAndErrorMsg);
  font-size: var(--fs-inputsAndButtonAndErrorMsg);
  font-weight: 700;
  line-height: 2.0rem;
  text-align: center;

  animation: topdown 1s ease-in-out;

  opacity: 0;
  visibility: hidden;
}

.alertError.open {
  opacity: 1;
  visibility: visible;
}

/* Media Querys */

@media (min-width: 500px) {
  .card {
    min-width: 42.8rem;
  }

  .modal {
    min-width: 100%;
  }
}

/* Animations */

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}